<ion-header translucent class="ion-no-border">
  <ion-toolbar style="color: white;">
    <ion-buttons slot="start">
        <img src="assets/icon/icon-cs4.png" width="70%"  (click)="irAInicio()" class="ion-padding">
        <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-buttons slot="end">
        <ion-button (click)="irADescarga()" class="letra-blanca">
          Solicitar Demo
        </ion-button>
    </ion-buttons>
    <ion-title class="ion-text-center">{{titulo}}</ion-title>
  </ion-toolbar>
</ion-header>